<div class="col-3">
</div>
<div class="col-6">
    <h3 class="text-center">LOGIN</h3>
    <form action="" class="form-group">
        <div>
            <label for="x">username</label>
            <input type="text" size="20" id="x" class="form-control">
            <br>
        </div>
        <div>
            <label for="v">password</label>
            <input type="password" name="" id="v" class="form-control">
        </div>
    </form>
    <div class="text-center">
        <button class="btn btn-success">login</button><br><br>
    </div>
    <p>if you don't have an account <a routerLink="register">register here</a></p></div>
<div class="col-3"></div>
