<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-4">
                <img src="https://www.pinclipart.com/picdir/big/4-41916_vector-black-and-white-download-paisley-music-lessons.png" height="400px" width="400px" alt="">

            </div>
            <div class="col-8 ">
                <h1> Music is destiny</h1>
                <p style=" font-size: 18px ; color: maroon;"> <i> Jkt's music is India's largest direct online retailer for musical instruments and pro audio equipment.  
                    We also offer a wide range of services to the music entertainment industry.
                    The Jkt's brand is well known for our focus on customer service and it has become one of the most trusted names in the industry.
                    Jkt's maintains very healthy tie-ups with India's top performing individual artists, 
                    bands and music producers and we vow to deliver the same service to all musicians in India. 
                    Our vision is to dominate all aspects of the music industry including music creation, production,
                     education, consumption, artist relations, curation and culture. </i></p>
            </div>
            <div class="col col-sm">
            </div>
        </div>
    </div>
</header>